div {

  padding: 4px 2px;
}
button {
  float: right;
}
.calcBody {
  width: 410px;
  height: 600px;
  border-top: 6px solid rgb(98,98,98);
  border-right: 6px solid rgb(98,98,98);
  border-left: 5px solid rgb(142,142,142);
  border-bottom: 5px solid rgb(142,142,142);
  border-radius: 8px;
  background-color: #afadad;
  margin: auto;
  display: grid;
  grid-template-rows: 10% 20% repeat(5, 12%) 5%;
  grid-gap: 3px;
  box-shadow: 7px 7px #ddd;
}
.display {
  background-color: #cbecf5;
  border-top: 2px solid rgb(144, 149, 156);
  border-left: 2px solid rgb(144, 149, 156);
  border-bottom: 1px solid rgb(144, 149, 156);
  border-radius: 4px;
  border-radius: 4px;
  margin: 5px 10px;
  display: grid;
  grid-template-rows: 40% 60%;
  text-align: right;
}
.regButton {
  background-color: rgb(106,106,106);
  border-top: 3px solid rgb(88,88,88);
  border-right: 3px solid rgb(88,88,88);
  border-left: 2px solid rgb(142,142,142);
  border-bottom: 2px solid rgb(142,142,142);
  width: 90px;
  height: 60px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
  color: white;
  font-size: 28px;
}
.opButton {
  background-color: rgb(44,44,44);
  border-top: 3px solid rgb(22,22,22);
  border-right: 3px solid rgb(22,22,22);
  border-left: 2px solid rgb(88,88,88);
  border-bottom: 2px solid rgb(88,88,88);
  width: 90px;
  height: 60px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
  color: white;
  font-size: 28px;
}
.eqButton {
  background-color: #ff7e00;
  border-top: 3px solid rgb(181,88,31);
  border-right: 3px solid rgb(181,88,31);
  border-left: 2px solid rgb(247,171,96);
  border-bottom: 2px solid rgb(247,171,96);
  width: 90px;
  height: 60px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 5px;
  color: white;
  font-size: 28px;
}
#logo {
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  font-size: 24px;
  position: relative;
  top: 9px;
  left: 10px;
}
#operator {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: 700;
}
#number {
  font-size: 36px;
  font-family: 'Segment7Standard';
  font-weight: 800;
}
